@media(min-width: 50px) and (max-width: 575px) {
    /* Header */
    .header__container {
        padding: 22px 30px 16px;
        margin-bottom: 36px;
        min-height: 124px;
        overflow: hidden;
    }
    .header__text {
        padding: 0 12px 8px;
        width: 259px;
        font-family: "BadScript", sans-serif;
        font-size: 14px;
        line-height: 1.428;
        opacity: 0.6;
    }
    .header__container_white {
        position: relative;
        padding: 12px;
        border-radius: 5px;
        background-color: var(--color-F);
    }
    .header__text_white {
        width: 235px;
        font-family: "BadScript", sans-serif;
        font-size: 14px;
        line-height: 1.428;
        color: var(--color-2024);
    }
    .header__back-eye {
        bottom: 5px;
        right: -25px;
        width: 84px;
        height: 44px;
    }
    /* Section-question */
    .section-question__container {
        margin: 0;
    }
    .section-question__title {
        margin-bottom: 40px;
        width: 302px;
    }
    .section-question__buttons {
        margin-bottom: 95px;
    }
    .section-question__back-moon {
        bottom: 35px;
        left: -13px;
        width: 52px;
        height: 52px;
    }
    /* Section-loading */
    .section-loading__image {
        margin-bottom: 30px;
        width: 75px;
        height: 75px;
    }
    /* Section-recording */
    .section-recording__image {
        width: 150px;
        height: 70px;
    }
    .section-recording__line {
        width: 260px;
    }
    .section-recording__line-percent {
        font-size: 20px;
    }
    .section-recording__line-title,
    .section-loading__title {
        font-size: 12px;
    }
    /* Section-call */
    .section-call__container {
        padding-top: 24px;
        margin-bottom: 0;
        height: 524px;
    }
    .section-call__thank {
        position: relative;
        padding: 6px 13px;
        margin-bottom: 28px;
        width: 259px;
        height: 84px;
    }
    .section-call__thank-text {
        font-size: 14px;
        line-height: 1.2857;
    }
    .section-call__expect {
        margin-bottom: 25px;
        width: 219px;
        font-size: 14px;
    }
    .section-call__event {
        padding: 13px 13px 8px;
        margin-bottom: 19px;
        width: 259px;
        border: 1px solid var(--color-F);
        font-size: 16px;
    }
    .section-call__event-text {
        font-weight: 700;
    }
    .section-call__do {
        margin-bottom: 21px;
        width: 233px;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.1428;
    }
    .section-call__btn {
        margin-bottom: 0;
        width: 238px;
        height: 48px;
        font-weight: 400;
        line-height: 1.15;
        background: linear-gradient( 90deg, var(--color-green-light) -6.2%, var(--color-green) 100%);
    }
}