@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Light.woff2") format("woff2"),
    url("../fonts/Roboto-Light.woff") format("woff"),
    url("../fonts/Roboto-Light.ttf") format("ttf");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/Roboto-Medium.woff") format("woff"),
    url("../fonts/Roboto-Medium.ttf") format("ttf");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "BadScript";
  src: url("../fonts/BadScript-Regular.woff2") format("woff2"),
    url("../fonts/BadScript-Regular.woff") format("woff"),
    url("../fonts/BadScript-Regular.ttf") format("ttf");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/*Global css*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 25px;
  line-height: 100%;
  font-weight: 400;
  text-align: center;
  color: var(--color-F);
}

*:active,
*:hover,
*:focus,
*:active,
*:hover,
*:focus {
  outline: 0;
  outline-offset: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

body {
  background-color: var(--color-2024);
}

html {
  font-family: "Roboto", sans-serif;
}

:root {
  --color-F-ultraDim: rgba(255, 255, 255, 0.2);
  --color-F-dim: rgba(255, 255, 255, 0.6);
  --color-F: #fff;
  --color-2024: #202024;
  --color-yellow-light: rgba(246, 200, 102, 0.9);
  --color-yellow: #f6c866;
  --color-yellow-dark: rgba(254, 173, 53, 0.9);
  /* --anim-time: 0.2s;
    --anim-timing-function: ease-in-out; */
}

.container-main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1920px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 110px;
  width: 100%;
  max-width: 1440px;
}

.question-title {
  font-size: 25px;
  color: var(--color-yellow);
}

.question-title_up {
  text-transform: uppercase;
  line-height: 1.4;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-col {
  flex-direction: column;
}

.background-image {
  width: 100%;
  height: 100%;
  border: none;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  background-size: cover;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
  width: 310px;
  height: 70px;
  border: none;
  border-radius: 50px;
  font-size: 20px;
  font-weight: 700;
  color: var(--color-F);
  background: linear-gradient(
    90deg,
    var(--color-yellow-light) -6.2%,
    var(--color-yellow-dark) 100%
  );
}

.footnote {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: var(--color-F-dim);
}

/* Header */

.header__container {
  margin-bottom: 40px;
}

.header__text_top {
  padding-top: 35px;
  padding-bottom: 20px;
  margin-bottom: 12px;
  width: 100%;
  border-bottom: 1px solid var(--color-F-ultraDim);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 0.1em;
  color: var(--color-F-dim);
}

.header__text_lower {
  font-weight: 300;
  font-size: 25px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  color: var(--color-F-dim);
}

/* Section-first-question */

.section-first-question__background-image {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  height: 1000px;
  background-image: url("../img/main-page/first-question/back-flash.png");
}

.section-first-question__image {
  position: relative;
  width: 380px;
  height: 380px;
}

.section-first-question__image_eye {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: 0.2;
}

.section-first-question__image_woman {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  padding: 70px;
}

.section-first-question__title {
  width: 500px;
  margin-bottom: 40px;
}

/* Section-cards */

.section-cards__first-card {
  position: relative;
  padding: 130px 38px 85px;
  margin-bottom: 70px;
  width: 445px;
  height: 435px;
  border: 1px solid #ffffff;
  border-radius: 3px;
}

.section-cards__first-card-image {
  position: absolute;
  top: -67.5px;
  width: 135px;
  height: 135px;
  border-radius: 50%;
}

.section-cards__second-card {
  position: relative;
  width: 100%;
  height: 606px;
}

.section-cards__second-card-image {
  background-image: url("../img/main-page/cards/card-2-woman.jpg");
  opacity: 0.2;
}

.section-cards__card-text {
  line-height: 1.4;
}

.section-cards__card-text_mark {
  color: var(--color-yellow);
}

.section-cards__second-card-text {
  position: absolute;
  padding-top: 50px;
  width: 380px;
}

/* Section-second-question */

.section-second-question__title {
  margin-bottom: 45px;
}

/* Footer */

.footer__container {
  position: relative;
  margin-bottom: 0;
}

.footer__rune {
  width: 55px;
  height: 17px;
  background-size: contain;
}

.footer__rune_up {
  margin-bottom: 80px;
  background-image: url("../img/main-page/footer/runes-up.svg");
}

.footer__rune_lower {
  margin-bottom: 150px;
  background-image: url("../img/main-page/footer/runes-lower.svg");
}

.footer__text {
  margin-bottom: 80px;
  width: 300px;
  line-height: 1.4;
  font-family: "BadScript";
}

.footer__back-moon {
  position: absolute;
  bottom: 50px;
  left: -40px;
  width: 160px;
  height: 160px;
  background-image: url("../img/main-page/footer/back-moon.svg");
}

.footer__back-eye {
  position: absolute;
  bottom: 350px;
  right: -125px;
  width: 300px;
  height: 155px;
  background-image: url("../img/main-page/footer/back-eye.svg");
}
